* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .f1 {
  font-family: "Sen" sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 50px;
}
.f2 {
  font-family: "Slabo 27px" serif;
  font-size: 36px;
} */

.container_with_bg {
  background: url("https://newsone.ua/img/article/1085/18_original.jpg");
  background-repeat: no-repeat;
  width: 100%;
  /* display: block; */
  height: 100vh;
  background-size: cover;
}
.h1 {
  color: rgb(247, 4, 4);
  font-size: 100px;
  text-align: center;
}

.h2 {
  color: black;
  font-size: 100px;
  text-align: center;
}
