html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* menu navigation */
.menu {
  padding-top: 30px;
  padding-bottom: 90px;
}
.conteiner {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.site-logo {
  float: left;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #555252;
}
.site-logo::before {
  content: "M";
  color: #1abc9c;
  font-weight: 900;
}
.site-navigation {
  float: right;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  width: 470px;
  list-style: none;
}
.site-navigation li {
  float: left;
  margin-right: 30px;
}
.site-navigation li:last-child {
  margin-right: 0;
}
.menu-link-item {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0f0101;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

/* section 1 */
.featured-list-item {
  float: left;
  list-style: none;
  width: 255px;
  height: 320px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.featured-list-item:nth-child(4n) {
  margin-right: 0;
}

.featured-list-item {
  background-color: #e9f0fd;
}

.featured-list-item img {
  display: block;
  margin: 0 auto;
}

.featured-list-item {
  position: relative;
}
.information {
  position: absolute;
  bottom: 0;
}

.information {
  width: 255px;
  height: 40px;
  background-color: #323232;
}
.product,
.price {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.product {
  float: left;
  padding-left: 10px;
  width: 201px;
  line-height: 40px;
}
.price {
  float: right;
  background-color: #8c8c8c;
  text-align: center;
  width: 54px;
  height: 40px;
  line-height: 40px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
}

.title::after {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 90px;
  width: 165px;
  height: 8px;
  background-color: #4ec6ab;
  content: "";
}
.featured-product {
  margin-bottom: 100px;
}

/* section 2 */
.latest-list-item {
  float: left;
  list-style: none;
  width: 350px;
  height: 262px;
  margin-right: 30px;
}

.latest-list-item:nth-child(3n) {
  margin-right: 0;
}

.title2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #555252;
  margin-top: 14px;
}
.title2::after {
  display: block;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 28px;
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  content: "";
}

p {
  font-family: "Open Sans Semibold", arial;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  margin-bottom: 12px;
}

.Read-More {
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  width: 159px;
  height: 51px;
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 44px;
}

.featured-list-item:hover .information {
  background: #1abc9c;
}
.featured-list-item:hover .price {
  background: #7fd9c7;
}
